.index{
  //侧边栏
  .el-aside {
    position: absolute;
    height: 100%;
    display: flex;
    color: #565656!important;
    background-color: rgba(0, 21, 41, 1)!important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    .iconfont {
      margin-right: 0.8rem;
      width: 24px;
      text-align: center;
      font-size: 1.2rem;
      vertical-align: middle;
    }
    .icon-xingzhuang-tuoyuanxing {
      font-size: 1rem;
      margin-left: 0.1rem;
      margin-right: 1rem;
    }
    .el-logo {
      font-size: 1.5rem;
      padding: 10px 0;
      margin: 10px 0;
      color: #ffffff;
      text-align: center;
    }
    .el-menu {
      border-right: none!important;
    }
    .el-menu--collapse {
      width: 78px;
      text-align: center;
      .el-submenu__title,.single {
        height: 3.25rem;
        line-height: 3.25rem;
        i {
          margin-right: 0!important;
        }
      }
      .el-submenu__title:hover,.single:hover {
        color: #ffffff;
        background-color: rgba(0, 21, 41, 1)!important;
        i {
          color: #ffffff!important;
        }
      }
    }
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 260px;
      border-right: none;
      .el-submenu {
        .el-submenu__title {
          padding: 0 20px!important;
          transition: padding 0.35s ease 0s !important;
          .el-submenu__icon-arrow {
            font-size: 15px;
          }
        }
        .el-submenu__title:hover {
          color: #ffffff!important;
          padding-left: 30px!important;
          background-color: rgba(0, 18, 36, 1)!important;
          i {
            color: #ffffff!important;
          }
        }
        .el-submenu__title {
          height: 3.25rem;
          line-height: 3.25rem;
          transition: padding 0.35s ease 0s !important;
        }
        .el-menu-item {
          height: 2.5rem;
          line-height: 2.5rem;
          padding: 0 20px!important;
          background-color: rgba(0, 12, 23, 1)!important;
          transition: padding 0.35s ease 0s !important;
        }
        .el-menu-item:hover {
          color: #ffffff!important;
          padding-left: 30px!important;
          i {
            color: #ffffff!important;
          }
        }
        .el-menu-item.is-active {
          background-color: rgba(24, 144, 255, 1)!important;
          color: #ffffff!important;
        }
        .el-submenu {
          .el-menu-item {
            padding-left: 40px!important;
          }
          .el-submenu__title {
            height: 40px;
            line-height: 40px;
            background-color: rgba(0, 12, 23, 1)!important;
          }
          .el-menu-item:hover {
            padding-left: 50px!important;
          }
        }
      }
      .is-active>.el-submenu__title {
        color: #ffffff!important;
        background-color: rgba(0, 18, 36, 1)!important;
        i {
          color: #ffffff;
        }
      }
      .single {
        height: 3.25rem!important;
        line-height: 3.25rem!important;
        transition: padding 0.35s ease 0s !important;
      }
      .single:hover {
        color: #ffffff!important;
        padding-left: 30px!important;
        background-color: rgba(0, 18, 36, 1)!important;
        i {
          color: #ffffff!important;
        }
      }
    }
  }
  //内容区域
  .el-main {
    position: absolute;
    top: 135px;
    bottom: 15px;
    left: 280px;
    right: 20px;
    width: auto;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
  }
}
