.index{
  //侧边栏
  .el-aside{
    position: fixed;
    height: 100%;
    display: flex;
    z-index: 2;
    padding: 0 15px!important;
    color: #565656!important;
    background-color: #ffffff!important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    .iconfont{
      margin-right: 0.8rem;
      width: 24px;
      text-align: center;
      font-size: 1.2rem;
      vertical-align: middle;
    }
    .icon-xingzhuang-tuoyuanxing{
      font-size: 0.8rem;
      margin-left: 0.15rem;
      margin-right: 1.1rem;
    }
    .el-logo{
      font-size: 1.5rem;
      padding: 10px 0;
      margin: 10px 0;
      color: rgba(115, 103, 240, 0.7);
      text-align: center;
    }
    .el-menu{
      border-right: none;
      .single:hover{
        background-color: #ffffff!important;
      }
      .el-menu-item {
        padding: 0 15px!important;
        transition: padding 0.35s ease 0s !important;
      }
      .el-menu-item:hover {
        padding-left: 25px!important;
      }
    }
    .el-menu--collapse{
      width: 48px;
    }
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 230px;
    }
    .el-submenu{
      .el-submenu__title {
        padding: 0 15px!important;
        transition: padding 0.35s ease 0s !important;
        margin-bottom: 7px;
      }
      .el-submenu__title:hover {
        padding-left: 25px!important;
      }
      ul {
        li {
          padding: 0!important;
          background-color: #ffffff!important;
        }
      }
    }
    .el-submenu{
      div:hover{
        background-color: #ffffff!important;
        color: #565656!important;
      }
      ul>li:hover{
        color: #565656!important;
        background-color: #ffffff!important;
      }
      ul>li.is-active:hover{
        color: #ffffff!important;
      }
    }
    .el-menu-item:hover {
      color: #565656!important;
    }
    .is-active {
      color: #ffffff!important;
      z-index: 3;
      .el-submenu__title {
        border-radius: 6px;
        background: whitesmoke!important;
      }
      .el-submenu__title:hover {
        border-radius: 6px;
        background: whitesmoke!important;
        padding-left: 25px!important;
      }
      .el-submenu {
        .el-submenu__title {
          background: transparent!important;
        }
      }
    }
    .el-menu-item.is-active {
      background: linear-gradient(118deg, #7367F0, rgba(115, 103, 240, 0.7));
      box-shadow: 0 0 10px 1px rgba(115, 103, 240, 0.7);
      border-radius: 6px;
    }
    .single.is-active:hover {
      color: #ffffff!important;
    }
    .el-menu-item, .el-submenu__title {
      height: 2.8rem;
      line-height: 2.8rem;
    }
    .el-menu--inline {
      padding: 7px;
      margin: -7px -7px 0 -7px;
    }

    // 菜单折叠过后样式
    .el-tooltip {
      padding: 0 15px!important;
      transition: padding 0.35s ease 0s !important;
    }
    .el-tooltip:hover {
      padding-left: 25px!important;
    }
  }
  //内容区域
  .el-main{
    position: fixed;
    top: 95px;
    bottom: 15px;
    left: 280px;
    right: 20px;
    z-index: 3;
    width: auto;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
  }
}
