.index{
  //侧边栏
  .el-aside{
    position: fixed;
    height: 100%;
    display: flex;
    z-index: 2;
    /*padding: 0 15px!important;*/
    color: #565656!important;
    background-color: #ffffff!important;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Chrome/Safari/Opera */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.05);
    .iconfont{
      margin-right: 0.8rem;
      width: 24px;
      text-align: center;
      font-size: 1.2rem;
      vertical-align: middle;
    }
    .icon-xingzhuang-tuoyuanxing{
      font-size: 1rem;
      margin-left: 0.1rem;
      margin-right: 1rem;
    }
    .el-logo{
      font-size: 1.5rem;
      padding: 10px 0;
      margin: 10px 0;
      color: rgba(115, 103, 240, 0.7);
      text-align: center;
    }
    .el-menu--collapse{
      width: 48px;
    }
    .el-menu-vertical-demo:not(.el-menu--collapse) {
      width: 230px;
    }
    .el-menu {
      border-right: none;
      .is-active {
        z-index: 3;
      }
      .el-menu--inline {
        .el-submenu__title {
          background-color: #ffffff!important;
        }
        .el-submenu__title:hover {
          background-color: #ffffff!important;
        }
      }
    }
    .el-menu-open{
      .el-menu-item {
        padding: 0 15px!important;
        transition: padding 0.35s ease 0s !important;
      }
      .el-menu-item:hover {
        padding-left: 25px!important;
        color: #409EFF!important;
        .iconfont {
          color: #409EFF!important;
        }
      }
      .el-submenu__title:hover {
        padding-left: 25px!important;
        color: #409EFF!important;
        .iconfont {
          color: #409EFF!important;
        }
      }
    }
    .el-menu-close{
      .el-submenu__title:hover{
        i{
          color: #409EFF;
        }
        background-color: whitesmoke!important;
        border-radius: 0.3rem;
      }
    }
    .el-submenu{
      .el-submenu__title {
        padding: 0 15px!important;
        transition: padding 0.35s ease 0s !important;
        margin-bottom: 7px;
      }
      .el-submenu__title:hover {
        background-color: whitesmoke!important;
        border-radius: 0.3rem;
      }
      ul {
        li {
          padding: 0!important;
          background-color: #ffffff!important;
        }
      }
    }
    .el-menu-item.is-active {
      background-color: #f0faff!important;
      color: #409EFF!important;
      border-radius: 6px;
    }
    .single {
      .el-tooltip {
        padding: 0 15px!important;
      }
    }
    .single:hover {
      border-radius: 0.3rem;
      background-color: whitesmoke!important;
    }
    .single.is-active:hover {
      background-color: #f0faff!important;
    }
    .el-menu-item,.el-submenu__title {
      height: 2.8rem;
      line-height: 2.8rem;
    }
    .el-menu--inline {
      padding: 7px;
      margin: -7px -7px 0 -7px;
    }
    .is-active {
      .el-submenu__title {
        background-color: whitesmoke!important;
        border-radius: 0.3rem;
      }
    }
  }
  //内容区域
  .el-main{
    position: fixed;
    top: 135px;
    bottom: 15px;
    left: 280px;
    right: 20px;
    z-index: 3;
    width: auto;
    padding: 0;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
  }
}
